.header{
   position: relative;
    &__content {
        display: flex;
        justify-content: space-between;
        padding-top:30px;
        align-items: center;
    }
    &__nav {
        display: flex;
        margin-right: 125px;
    }
    &__item {
        margin-left:60px;
        @include font (400, 12px, 12px, $grayone);
        letter-spacing: 0.2em;
        text-transform: uppercase;
        position: relative;
    }
    &__item::after {
        content: "";
        position: absolute;   
        background: $grayone;
        width: 0;
        height: 1px;
        left: 0;
        top: -4px;
        transition: all 2s ease 0s;
    }
    &__item::before {
        content: "";
        position: absolute;
        background: $grayone;
        width: 0;
        height: 1px;
        right: 0;
        bottom: -4px;
        transition: all 2s ease 0s;
    } 
    &__item:hover::before {
        width: 100%;
        transition: .5s;
    }
    &__item:hover::after {
        width: 100%;
        transition: .5s;
    }

}

.burger {
    display: none;
    cursor: pointer;
    width: 32px;
    height: 32px;
   
    &__list {
        display: none;
        position: absolute;
        left: 999;
        width: 100vw;
        height: 100vh;
        background: $black;
        z-index: 9;
    }
    &__line {
        position: absolute;
        top: 8px;
        @include btn (32px, 3px, $grayone);

    }
    &__menu {
        position: relative;
    }
    &__info {
        justify-content: center;
        display: flex;
        gap: 50px;
    }
    &__title {
        @include font (500, 30px, 18px, $white);
        text-align: center;
       margin: 80px 0 40px;
    }
    &__item {
        color: $white;
        position: relative;
        margin: 40px auto;
        text-align: center;
    }
    &__item::after {
        content: "";
        position: absolute;   
        background: $white;
        width: 0;
        height: 1px;
        left: 0;
        top: -4px;
        transition: all 5s ease 0s;
    }
    &__item::before {
        content: "";
        position: absolute;
        background: $white;
        width: 0;
        height: 1px;
        right: 0;
        bottom: -4px;
        transition: all 5s ease 0s;
    } 
    &__item:hover::before {
        width: 100%;
        transition: .5s;
    }
    &__item:hover::after {
        width: 100%;
        transition: .5s;
    }
    &.active .burger__one {
        position:absolute;
        top: 15px;
        @include btn (32px, 3px, $grayone);
        transform: rotate(45deg);
    }
    &.active .burger__two {
        display: none;
    }
    &.active .burger__list {
        display: block;
        right: 0;
        top: 95px;
        
    }
    &.active .burger__three {
        position:absolute;
        top: 15px;
        @include btn (32px, 3px, $grayone);
        transform: rotate(-45deg);
    }
    &__two {
        top: 16px;
    }
    &__three {
        top: 24px;
    }
}





@media screen and (max-width:1275px) {
 
   .header__item {
       margin-left: 30px;
   }
}
@media screen and (max-width:1200px) {
   
   .header__item {
       margin-left: 30px;
   }
}

@media screen and (max-width:1000px) {
  
    .header__nav {
        margin-right: 0px;
    }
}

@media screen and (max-width:860px) {
    
    .header__nav {
        display: none;
        
    }
    .burger {
        display: block;
        // background: $white;
        // z-index: 1;
        // position: fixed;
        // width: 100%;
        // padding-top: 44px;
        // padding-bottom: 48px;
    }
    
}
