.parking {
    margin-top: 63px;
    &__title {
        @include font (300, 64px, 64px, $graysix);
    }
    &__nick {
        @include font (700, 64px, 64px, $grayone);
    }
    &__line {
        width: 100%;
        height: 1px;
        background: $graysix;
        margin: 30px 0;
    }
    &__info {
        display: flex;
        justify-content: space-between;
        margin: 30px 0;
    }
    &__text {
        max-width: 721px;
        @include font (300, 16px, 25px, $black);
    }
}
@media screen and (max-width:1360px) {
    .parking {
        &__text {
            margin-left: 30px;
        }
        &__big--img,
        &__comp {
            width: 100%;
        }
    }
    
    
}
@media screen and (max-width:1200px) {
    .parking {
        &__info {
            flex-wrap: wrap;
        }
        &__mini--img {
            margin: 30px auto;
        }
        &__text {
            margin: 30px auto;
            text-align: center;
        }
    }
  
}
@media screen and (max-width:860px) {
    .parking {
        &__title {
            font-size: 35px;
            line-height: 35px;
        }
        &__nick {
            font-size: 35px;
            line-height: 35px;
        }
        &__mini--img {
            width: 100%;
        }
    }
   
}
@media screen and (max-width:550px) {
    .parking {
        &__title {
            font-size:18px;
            line-height: 25px;
        }
        &__nick {
            font-size: 18px;
            line-height: 25px;
        }
        &__text {
            font-size: 15px;
            line-height: 20px;
        }
    }    
}