
.photo {

    &__title {
        margin-top: 63px;
    }
    &__nick {
        @include font (700, 64px, 64px, $grayone);
    }
    &__line {
        @include btn (100%, 1px, $graysix);
        margin: 30px 0;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;
    }
    &__slid {
        position: relative;
        margin-top: 30px;
    }
    &__slid::before {
        position:absolute;
        bottom: 0;
        width: 100%;
        height:0;
        background:$white;
        transition: all 2s ease 0s;
        content: '';
    }
    &__slid:hover::before {
        transition: .3s;
        height: 50%;
    }   
    &__slid:hover .photo__text {
        z-index: 1;
        transition: 1s;
    }
    &__content {
        position: relative;
        margin-bottom: 120px;
    }
    &__prev,
    &__next {
        position: absolute
    }
    &__next {
        left: 200px;
        bottom: -113px;
    }
    &__prev {
        left: 130px;
        bottom: -113px;
    }
    &__pagination {
        @include font (400, 24px, 24px, $grayfour);
        position: absolute;
        left: 0;
        bottom: -98px;
        width: auto;
    }
    &__text {
        @include font (400, 14px, 18px, $grayone);
        max-width: 170px;
        position: absolute;
        left: 20px;
        bottom: 64px;
        z-index: -1;
    }
}

@media screen and (max-width:670px) {
    
    .photo {
        &__wrapper {
            justify-content: center;    
        }
        &__content {
            padding-bottom: 70px;
        }
        &__title,
        &__nick {
            font-size: 35px;
            line-height: 35px;
        }
    }
}
@media screen and (max-width:430px) {
    
    .photo {
        &__pagination {
            bottom: -20px;
            left: 80px;
        }
        &__prev {
            left: 60px;
        }
        &__next {
            left: 140px;
        }
    }
}