@mixin font ($weight, $size, $line, $color) {
    font-weight: $weight;
    font-size: $size;
    line-height:$line;
    color: $color;
}

@mixin btn ($width, $height, $bg) {
    width: $width;
    height: $height;
    background: $bg;
}